<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/estilo.css"/>

    <title>Sobre</title>
  </head>
  <body>
    <header>
      <h2>Sobre</h2>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">NewProjects</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item-2">
              <a class="nav-fonte" href="./funcionario/list">Funcionários</a>
            </li>
            <li class="nav-item-1">
              <a class="nav-fonte" aria-current="page" href="./sobre">Sobre</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <img src="./img/sobre.jpg" alt="sobre" />
    </div>

    <footer>
      <div class="coluna2">
        <ul>
          <h3>Localização: SENAI CTAI</h3>
          <p>Rodovia, SC-401, 3730 - Saco Grande, Florianópolis - SC, 88032-005</p>
          <p>(48) 93239-5800</p>
        </ul>
      </div>

      <div class="coluna1">
        <h3>Contato</h3>
        <ul>
          
          <p>Telefone: (48) 988641053</p>
        </ul>
      </div>
    </footer>

    <script src="./js/popper.min.js"></script>
    <script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
