
/* https://www.flaticon.com/br/uicons?word=editar site utilizado para as fontes */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');

body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(148, 148, 148);
    
}

header{
    background-color: rgb(95, 59, 59);
    padding: 20px;
    font-size: 50px;

}

header > h2{
    color: rgb(69, 230, 208);
    font-size: 50px;
    text-align: center;
}
.container{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 15%;
    width: 80%;
    height: 90%;
    margin-left: 20%;
    

}
.container > img{
    width: 60%;
    text-align: center;
    

}

footer{
    font-size: 15px;
    color:rgb(69, 230, 208) ;
    padding: 10px;
    background-color:rgb(95, 59, 59) ;
    display: flex;
    width: 100%;
}

.coluna1{
    font-size: 15px;
    width: 50%;
    text-align: center;
    
    
}
.coluna2{
    font-size: 15px;
    width: 50%;
    text-align: center;
    
   
}
.nav-item-1{
    font-size: 20px;
    text-align: center;
    text-decoration:rgb(95, 59, 59) ;
    text-decoration: none;
    margin-left: 15%;
    

}
.nav-item-2{
    font-size: 20px;
    text-align: center;
    text-decoration:rgb(95, 59, 59) ;
    text-decoration: none;
    margin-left: 15%;

}
.nav-item-3{
    font-size: 20px;
    text-align: center;
    text-decoration:rgb(95, 59, 59) ;
    text-decoration: none;
    margin-left: 15%;
    

}

.tabela{
    width: 700px;
    text-align: center;
    margin: auto;
    padding-top: 15em;
    min-width: 300px;
    max-width: 700px;
    margin-bottom:15em;


}
.form-floating{
    margin-top: 18px; 
    padding: 8px;
    border: 2px solid burlywood;
    border-radius: 15px;
    width: 75%;
    height: 50%;

}

.tabelinha{
    align-items: center;
}

.buton{
    align-items: center;
    
}